{% extends 'base.html.twig' %}

{% block title %} StoreFreeze {% endblock %}

{% block body_id %}app{% endblock %}

{% block header %}{% endblock %}

{% block main %}
    {% include 'baseOpen.html.php' %}
    <div class="backgroundCreate">

        <div class="mdl-tabs__tab-bar">
            <a class="mdl-navigation__link mdl-tabs__tab" href="createRecette">Ajouter Recette</a>
            <a class="mdl-navigation__link mdl-tabs__tab" href="readRecette">Voir Recette</a>
        </div>

        <section class="paragraphe subtitle read">
            {# <div class="black">
                <h3>Recettes</h3>
            </div> #}
            {# menu de gauche #}
            <div>            
                <nav>
                    <table class="leftMenu">
                        <thead>
                            <th class="captionTrie pointerRead borderTrue" onclick="document.location='{{ path('readStore') }}'">Trier par plat</th>
                        </thead>
                        <tbody>
                            {% for plat in plats %}
                            <tr>
                                <td class="pointerRead borderTrue textShadow" onclick="document.location='{{ path('showProductCategory', 
                                {'name':plat.name}) }}'">
                                {{ plat.name }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>

                        <tr>
                            <td>
                                <br><br><br>
                            </td>
                        </tr>

                        <thead>
                            <th class="captionTrie pointerRead borderTrue" onclick="document.location='{{ path('readStore') }}'">Trier par catégorie</th>
                        </thead>
                        <tbody>
                            {% for category in categories %}
                            <tr>
                                <td class="pointerRead borderTrue textShadow" onclick="document.location='{{ path('showProductCategory', 
                                {'name':category.name}) }}'">
                                {{ category.name }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        
                        <tr>
                            <td>
                                <br><br><br>
                            </td>
                        </tr>

                    </table>
                </nav>
            </div>

            <div class="black">
                <h3>Recettes</h3>
            </div>

            <div class="black">  
                <div >
                    <table class="tableShowJob backgroundWhite borderTrue">
                        <tbody class="pointerRead">
                            <tr>
                                <th rowspan="2" class="thTab borderTrue" onclick="document.location='showProductNameAsc'">Nom de la recete</th>
                                <th rowspan="2" class="thTab borderTrue">Photos</th>
                                <th rowspan="2" class="thTab borderTrue">Plats</th>
                                <th rowspan="2" class="thTab borderTrue" onclick="document.location='showProductCatAsc'">Catégorie</th>
                                <th rowspan="2" class="thTab borderTrue">Durée totale de préparation</th>
                                <th rowspan="2" class="thTab borderTrue">Nombre d'ingrédient manquant</th>
                                {# <th rowspan="2" class="thTab borderTrue">DLC</th> #}
                                {# <th rowspan="2" class="thTab borderTrue" onclick="document.location='showProductTirAsc'">Congélateur</th> #}
                                <th colspan ="2">Intéragir</th>
                            </tr>
                            <tr>
                                <th class="thTab borderTrue">Modifier</th>
                                <th class="thTab borderTrue">Supprimer</th>
                            </tr>
                            
                            {% for recette in recettes %}
                            <tr onclick="document.location='{{ path('showSpecRecette', {'id':recette.id}) }}'">
                                <td class="borderTrue">{{ recette.name }}</td>
                                <td class="borderTrue">Photo</td>
                                <td class="borderTrue">{{ recette.CategoryRecette.name }}</td>
                                <td></td>
                                {# <td>{{ recette.NumberPeople }}</td>                                 #}
                                <td class="borderTrue"><b>Preparation :</b> {{ recette.timePrepa|date('H:i:s') }} <br> <b>Cuisson :</b> {{ recette.timeCook|date('H:i:s') }}</td>

                                {# <td  class="borderTrue">{{  recette.timePrepa|date('H:i:s') }} + {{recette.timeCook|date('H:i:s') }}</td> #}

                                
                                {# <td>{{ recette.Book.title }}</td>
                                <td>{{ recette.Book.color }}</td> #}
                                {# <td>{{ recette.Page }}</td> #}
                                <td  class="borderTrue"><ul>
                                {% for productRecette in productRecettes %}                                
                                    {% if recette.id == productRecette.recette.id %}
                                        <li>{{ productRecette.product.name }}<br></li>
                                    {% endif %}                                   
                                {% endfor %}
                                </ul></td>
                                        <td  class="borderTrue">                                               
                                        {# update button #}
                                            <br>
                                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--myColorValidate" type="submit"> 
                                                <a href="{{ path('updateRecipe', {'id':recette.id}) }}" style="color:white; text-decoration:none">Modifier</a>
                                            </button>
                                            <br><br>
                                        </td>
                                        <td  class="borderTrue">
                                        {# delete button #}
                                            <br>
                                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--myColorValidate" type="submit">                                               
                                                <a href="{{ path('deleteRecipe', {'id':recette.id}) }}" style="color:white; text-decoration:none" onclick="if(!confirm('Confirmer la suppression du produit ?')) return false;">Supprimer</a>
                                            </button>
                                            <br><br>
                                        </td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <br>
            </div>
            {% include 'baseClose.html.php' %}
        <section>
    </div>
{% endblock %}
