{% extends 'base.html.twig' %}

{% block title %} StoreFreeze {% endblock %}

{% block body_id %}app{% endblock %}

{% block header %}

{% endblock %}

{% block main %}
    {% include 'baseOpen.html.php' %}

    <div class="mdl-tabs__tab-bar backgroundCreate">
        <a class="mdl-navigation__link mdl-tabs__tab" href="createRecette">Ajouter Recette</a>
        <a class="mdl-navigation__link mdl-tabs__tab" href="readRecette">Voir Recette</a>
    </div>

    <section class ="paragraphe subtitle backgroundCreate">
        <div class="black">
            <h3>Modifer un produit</h3>
        </div>
        <div> 
            {{ form_start(form, {
                attr: {
                    novalidate : "novalidate",
                    class: "row"
                }
            }) }}
            <div class="border col-12 col-lg6">
                <br>
                {{ form_row(form.name) }}
                <br>
                {{ form_row(form.numberPeople) }}
                <br>
                {{ form_row(form.plat) }}
                <br>
                {{ form_row(form.book) }}
                <br>
                {{ form_row(form.page) }}
                <br>
                {{ form_row(form.timePrepa) }}
                <br>
                {{ form_row(form.timeBaking) }}
                <br>
                {{ form_row(form.description) }}
                <br>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--myColorValidate" type="submit"><a href="{{ path('readRecette') }}" style="color:white; text-decoration:none">Annuler</a></button>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--myColorValidate" type="submit">Valider</button>
                <br>
                {{ form_end(form) }}
                <br>
            </div>
            <br>
        </div>                    
        {% include 'baseClose.html.php' %}
    </section>
{% endblock %}
