{% extends 'base.html.twig' %}

{% block title %} StoreFreeze {% endblock %}

{% block body_id %}app{% endblock %}

{% block header %}

{% endblock %}

{% block main %}
    {% include 'baseOpen.html.php' %}

    <div class="mdl-tabs__tab-bar backgroundCreate">
        <a class="mdl-navigation__link mdl-tabs__tab" href="createStore">Ajouter Produits</a>
        <a class="mdl-navigation__link mdl-tabs__tab" href="readStore">Voir Produits</a>
    </div>

    <section class ="paragraphe subtitle backgroundCreate">
        <div class="black">
            <h3>Créer produit</h3>
        </div>
        <div> 
            {{ form_start(form, {
                attr: {
                    novalidate : "novalidate",
                    class: "row"
                }
            }) }}

            {{ form_start(form2, {
            attr: {
                novalidate: "novalidate",
                class: "row"
            }
            }) }}

            <div class="border col-12 col-lg6">
                <table>
                    <br><br>
                    <tr>
                        <td>
                            {{ form_row(form.name) }}
                        </td>
                        <td>
                            {{ form_row(form.CategoryProduct) }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br>
                            {{ form_row(form2.quantityGram) }}
                        </td>
                        <td>
                            <br>
                            {{ form_row(form2.quantityUnit) }}
                        </td>
                    </tr>
                </table>                
                <br><br>
                {{ form_row(form2.dlc) }}
                <br>
                {{ form_row(form2.Places)}}
                <br>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--myColorValidate" type="submit">Valider</button>
                <br>
                {{ form_end(form2) }}
                {{ form_end(form) }}
                <br>
            </div>
            <br>
        </div>                    
        {% include 'baseClose.html.php' %}
    </section>
{% endblock %}
